
body, h1, h2, h3, h4, h5, ul, li {
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 14px;
    background-color: rgb(246, 246, 246);
}
ul, li {
    list-style: none;
}
em,i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #000;
}
.show {
  display: block;
}
.hidden {
    display: none;
}
.fr {
   float: right; 
}
.fl {
    float: left;
}
.more {
    text-align: center;
    margin: 20px auto;
    line-height: 40px;
  }
  .more {
    & > a {
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        width: 20%;
        border: thin dashed #ddd;
        background-color: #fff;
        i.fa {
            float: right;
            margin-top: 9px;
            margin-right: 8px;
            font-size: 160%;
        }
        em {
            display: inline-block;
            vertical-align: middle;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
        }
    }
}
._clearfix:after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
.main {
    width: 100%;
}
@-webkit-keyframes skeletonShimmer {
  0% {
      opacity: 0.45
  }

  100% {
      opacity: 1
  }
}

@keyframes skeletonShimmer {
  0% {
      opacity: 0.45
  }

  100% {
      opacity: 1
  }
}
.lazyload {
  width: 100%;
  height: 300px;
  position: relative;
  .donghua {
      color: #000;
      /* background: #dfe3e8; */
      -webkit-animation: skeletonShimmer 750ms linear infinite forwards alternate;
      animation: skeletonShimmer 750ms linear infinite forwards alternate;
      margin: 0 auto 10px;
      font-size: 25px;
      position: absolute;
      margin-left: -90px;
      margin-top: -15px;
      left: 50%;
      top: 50%;
  }
}
.container,
.W {
    width: 1200px;
    margin: 0 auto;
    min-width: 1000px;
}
@mixin clearfix() {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
@mixin boxSizing() {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
@mixin ease-in-out() {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
@mixin textOverflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

// gload 
.I_30,
.I_50,
.I_easy {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.I_30 {
  background: url("/images/lib-icon.png") no-repeat;
}
.I_easy {
  width: 30px;
  height: 30px;
  background: url("/images/icon_30x30_white.png") no-repeat;
}
.I_50 {
  width: 50px;
  height: 50px;
  background: url("/images/icon_50X50.png") no-repeat;
}
.I_qygl {
    background-position: 0 0;
  }
  .I_rlzy {
    background-position: -50px 0;
  }
  .I_cwsj {
    background-position: -100px 0;
  }
  .I_xxh {
    background-position: -150px 0;
  }
  .I_hlw {
    background-position: -200px 0;
  }
  .I_gl40 {
    background-position: -250px 0;
  }
  .I_falv {
    background-position: -300px 0;
  }
  .I_wdsg {
    background-position: -300px 0;
  }
  .I_wddy {
    background-position: -330px 0;
  }
  .I_wdwk {
    background-position: -360px 0;
  }
  .I_stwk {
    background-position: -390px 0;
  }
  .I_xinshu {
    background-position: -450px 0;
  }
  .I_zuixinfenxiang {
    background-position: -450px -30px;
  }
  .I_gengDuoXS {
    background-position: -420px 0;
  }
  .I_prev {
    background-position: -150px -270px;
  }
  .I_next {
    background-position: -120px -270px;
  }
  .I_easy_00 {
    background-position: 0px 0;
  }
  .I_easy_01 {
    background-position: -30px 0;
  }
  .I_easy_02 {
    background-position: -60px 0;
  }
  .I_easy_03 {
    background-position: -90px 0;
  }
  .I_easy_04 {
    background-position: -120px 0;
  }
  .I_easy_05 {
    background-position: -150px 0;
  }
  .I_easy_06 {
    background-position: -180px 0;
  }
  .I_easy_07 {
    background-position: -210px 0;
  }
  .I_easy_08 {
    background-position: -240px 0;
  }

  ._doc,
._xls,
._ppt,
._pdf,
._txt,
._money,
tbody td ._btn,
.myfocus li ._btn {
  display: inline-block;
  vertical-align: middle;
  background-image: url("/images/lib-icon.png");
  background-repeat: no-repeat;
}
._doc,
._xls,
._ppt,
._pdf,
._txt,
._money {
  width: 30px;
  height: 30px;
}
._doc {
  background-position: -60px -1px;
}
._xls {
  background-position: -90px 0;
}
._ppt {
  background-position: -120px 0;
}
._pdf {
  background-position: -150px 0;
}
._txt {
  background-position: -210px -30px;
}
._money {
  background-position: -240px -32px;
}
.buy {
  background-position: -2px -100px;
}
.download {
  background-position: -2px -152px;
}
.collect {
  background-position: -2px -210px;
}
.delete {
  background-position: -100px -100px;
}
.cancel {
  background-position: -100px -210px;
}

.subPageHeader {
  background: url(/images/header__bottom--bg.png);
  padding: 40px 0;
  h1 {
  font-weight: bold;
  color: #fff;
  font-size: 240%;
  margin: 40px auto;
  text-align: center;
  }
  .head {
      display: block;
  }
  .upload {
      float: right;
      display: block;
      margin-top: -1px;
      -moz-box-shadow: 0 2px 2px #1b8362;
      -webkit-box-shadow: 0 2px 2px #1b8362;
      -o-box-shadow: 0 2px 2px #1b8362;
      -ms-box-shadow: 0 2px 2px #1b8362;
      box-shadow: 0 2px 2px #1b8362;
      & > a {
          position: relative;
          display: block;
          color: #fff;
          padding: 0 20px;
          line-height: 58px;
          font-size: 120%;
          background-color: #24c792;
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
          -o-border-radius: 6px;
          -ms-border-radius: 6px;
          border-radius: 6px;
          text-shadow: 0 2px 2px rgba(0,0,0,0.175);
      }
      [type=file] {
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          filter: alpha(opacity = 0);
          opacity: 0;
          cursor: pointer;
      }
  }
  .logo {
      .big-logo {
          display: inline-block;
          vertical-align: middle;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          width: 144px;
          height: 52px;
          img {
              display: block;
              width: 100%;
              height: 100%;
          }
      }
      .sml-logo {
          display: inline-block;
          vertical-align: middle;
          zoom: 1;
          *display: inline;
          *vertical-align: auto;
          font-size: 160%;
          color: #fff;
          padding-left: 15px;
          margin-left: 10px;
          border-left: thin dashed #f2f2f2;
          font-weight: bold;
      }
  }
  .search {
      float: right;
      width: 60%;
      margin-right: 20px;
      margin-top: -1px;
      line-height: 58px;
      .f-control {
          display: block;
          height: 58px;
      }
      .search-btn {
          float: right;
          display: block;
          width: 140px;
          text-align: center;
          color: #fff;
          font-size: 240%;
          background-color: #26c58f;
          text-shadow: 0 2px 2px rgba(0,0,0,0.175);
          -moz-box-shadow: 0 2px 2px #1b8362;
          -webkit-box-shadow: 0 2px 2px #1b8362;
          -o-box-shadow: 0 2px 2px #1b8362;
          -ms-box-shadow: 0 2px 2px #1b8362;
          box-shadow: 0 2px 2px #1b8362;
          }
          .search-ipt {
          margin-right: 140px;
          height: 100%;
          background-color: #fff;
          -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.175);
          -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.175);
          -o-box-shadow: 0 2px 2px rgba(0,0,0,0.175);
          -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.175);
          box-shadow: 0 2px 2px rgba(0,0,0,0.175);
          position: relative;
          &> input[type=text] {
              display: block;
              width: 100%;
              padding-right: 30px;
              height: 100%;
              font-size: 120%;
              padding-left: 15px;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              -o-box-sizing: border-box;
              -ms-box-sizing: border-box;
              box-sizing: border-box;
              position: absolute;
              left: 0;
              top: 0;
              }
              i.fa {
              position: absolute;
              font-size: 200%;
              right: 10px;
              top: 50%;
              margin-top: -13px;
              cursor: pointer;
              }
          }
      }
      .hot-word {
      color: #fff;
      line-height: 30px;
      margin-top: 40px;
      padding-bottom: 40px;
      text-align: justify;
      a {
          float: left;
          display: block;
          color: #fff;
          margin-left: 20px;
          }
          .hot-wrap {
          display: block;
          margin-left: -20px;
          }
      }
}